<!-- This is bootstrap card -->
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Card Title from Bootstrap</h5>
        <div class="card-text">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Test Form</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
        </div>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>